body {
    background-color: #001426;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  h1, h2 {
    color: #FFFFFF;
  }
  
  .list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
  }
  
  #workshop-detalhes {
    display: none;
    border: 1px solid #ced4da;
    padding: 20px;
    background-color: #fff;
  }
  
  #workshop-info {
    color: #495057;
  }

  #button {
    background-color: #00D3FD;
    border-color: #00D3FD;
    color: #001426;
  }

  form {
    margin-bottom: 20px;
  }
  