body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin-top: 30px;
  }
  
  h1, h2 {
    color: #343a40;
  }
  
  .list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
  }
  
  #workshop-detalhes {
    display: none;
    border: 1px solid #ced4da;
    padding: 20px;
    background-color: #fff;
  }
  
  #workshop-info {
    color: #495057;
  }
  